* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 1em;
}

.bot {
    min-width: 720px;
    width: 60%;
    height: calc(100vh - 2em);
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: rgb(53, 53, 53);
    padding: 8px;
}
.test-base {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: calc(100vh - (2em + 20px + 100px));
    overflow: auto;
    margin-top: 4em;
}

.test {
    background-color: rgba(206, 17, 38, 0.1);
    color: rgb(252, 207, 207);
    border-radius: 10px;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    font-size: 16px;
}

.test:nth-child(even){
    margin-top: 10px;
    margin-bottom: 10px;
}