.project {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0 solid black;
    border-bottom-width: 1px;
    padding: 5px;
    color: black;
    gap: 5px;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.project-body {
    color: black;
    padding-bottom: 5px;
}

.project-footer {
    background-color: white;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.project-footer-item {
    color: black;
    font-size: medium;
}

.color-lightgreen {
    background-color: lightgreen;
}

.color-red {
    background-color: red;
    color: white;

}

.project-title {
}

.project-actions {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-self: center;
}

.project-action {
    padding: 1px;

}
